.gridHeader {
	display: flex;
	flex-direction: column;
	gap: 0.6vw;
	/* padding-top: 2.6vw; */
    /* padding-top: 1.4583vw; */
	margin-top: 1.1vw;
}

.gridHeader_title {
	margin: 0;
	font-size:var(--font-md);
	font-weight: bold;
	font-family: sans-serif;
}

.gridHeader_actions {
	display: flex;
	align-items: center;
	gap: 0.42vw;
}

.gridHeader_btnWrapper {
	display: flex;
}
/* .gridHeader_btnWrapper button{
	margin: auto !important;
} */
.gridHeader_searchWrapper {
	display: flex;
	align-items: center;
	gap: 0.52vw;
	/* margin-right: 2.08vw; */
}
.gridHeader_searchWrapper .fui-Input{
	min-height: 2.9629vmin;
}
.gridHeader_searchWrapper svg{
	font-size:var(--font-md);
}
.gridHeader_searchWrapper input{
	font-size:var(--font-md);
}
.gridHeader_filter {
	display: flex;
	align-items: center;
	gap: 0.26vw;
	cursor: pointer;
}

.gridHeader_filterIcon {
	font-size: 1.04vw;
	color: #242424;
}

.gridHeader_filterText {
	font-size:var(--font-md);
	color: #454545;
}
/* ================= Tablet Responsive (≤768px) ================= */
/* @media (max-width: 768px) {
	.gridHeader {
		flex-direction: column;
		padding-top: 3vw;
		padding-left: 2vw;
		margin-top: 2vw;
		gap: 2vw;
	}

	.gridHeader_title {
		font-size: 2vw;
	}

	.gridHeader_actions {
		flex-wrap: wrap;
		gap: 1.5vw;
	}


	.gridHeader_searchWrapper {
		flex-wrap: wrap;
		gap: 1.2vw;
		margin-right: 0;
	}

	.gridHeader_filter {
		gap: 1vw;
	}

	.gridHeader_filterIcon {
		font-size: 2vw;
	}

	.gridHeader_filterText {
		font-size: 1.8vw;
	}
} */

/* ================= Mobile Responsive (≤480px) ================= */
/* @media (max-width: 480px) {
	.gridHeader {
		padding-top: 4vw;
		padding-left: 3vw;
		margin-top: 2.5vw;
		gap: 2.5vw;
	}

	.gridHeader_title {
		font-size: 3vw;
	}

	.gridHeader_actions {
		flex-direction: column;
		align-items: flex-start;
		gap: 2vw;
	}

	.gridHeader_btnWrapper {
		row-gap: 2vw;
	}

	.gridHeader_searchWrapper {
		flex-direction: column;
		gap: 2vw;
		margin-right: 0;
		width: 100%;
	}

	.gridHeader_filter {
		gap: 1.5vw;
	}

	.gridHeader_filterIcon {
		font-size: 2.5vw;
	}

	.gridHeader_filterText {
		font-size: 2.5vw;
	}
} */
