.additionalCard1 {
    width:100%; 
    height: 100%;
    padding: 2.5vh;
    border-radius: 0.89vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 0.125vh;
    flex: 1 1 20%;
  }
/*   
  .div5 {
 Any additional styling if needed 
  } */
  